 <select name="tarjetaSeleccionada" id="combo2">
    <option value="">Seleccione una tarjeta</option>
  <% for (var tarjeta in coleccionDeTarjetas){ %>
	<% if(typeof(coleccionDeTarjetas[tarjeta]) != 'function'){ %>
    <option value="<%= coleccionDeTarjetas[tarjeta].idTarjeta %>"> <%= coleccionDeTarjetas[tarjeta].nombreTarjeta %></option>
  <%
		}
    }
  %>
</select>