body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#contenedorFormasDePago{
    width: 400px;
}

div#productos{
 
}

div.producto{
  width: 100%;
  border: 1px solid red;
}

div.titulo{
  text-align: center;
}

div.imagen > img{
  max-width:  150px;
  max-height: 150px;
}

.formaDePago{
  border: 1px solid red;
}