body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div#contenedorFormasDePago{
    width: 400px;
    height:300px;
    border: 1px solid red;
}