extends ../../../views/layout
block content
  script(type='text/javascript', src='/javascripts/gestorFormasDePago/gestorFormasDePago.js')
  script(type='text/javascript', src='/javascripts/home/function.js')
  div#contenedorFormasDePago
  
  
  
  
  
  
  