extends ../../../views/layout
block content
  script(type='text/javascript', src='/javascripts/gestorFormasDePago/gestorFormasDePago.js')
  script(type='text/javascript', src='/javascripts/gestorFormasDePago/gestorDePrecios.js')
  script(type='text/javascript', src='/javascripts/home/function.js')
  div.container-fluid
    div.row
      div.col-lg-6#contenedorFormasDePago
      div.col-lg-6#productos
        div.producto.row 
          div.titulo.col-lg-12 Remera 1
          div.imagen.col-lg-6 
            img(src='/images/remera1.jpg')
          div.descripcion.col-lg-6 descripcion perteneciente a la remera 1
          div.precios.col-lg-12.formaDePago Mastercard 12 cuotas
          div.precios.col-lg-12.row
            div.col-lg-6.precio-lista $ 1500,00
            div.col-lg-6.precio-gestor(data-l='l:1_v:1200,00#l:2_v:1400#l:3_v:1500') $1200,00
        div.producto.row 
          div.titulo.col-lg-12 Remera 2
          div.imagen.col-lg-6 
            img(src='/images/remera2.jpg')
          div.descripcion.col-lg-6 descripcion perteneciente a la remera 2
          div.precios.col-lg-12.formaDePago Mastercard 12 cuotas
          div.precios.col-lg-12.row
            div.col-lg-6.precio-lista $ 1600,00
            div.col-lg-6.precio-gestor(data-l='l:1_v:1400,00#l:2_v:1500#l:3_v:1600') $1400,00
        div.producto.row 
          div.titulo.col-lg-12 Remera 3
          div.imagen.col-lg-6 
            img(src='/images/remera3.jpg')
          div.descripcion.col-lg-6 descripcion perteneciente a la remera 3
          div.precios.col-lg-12.formaDePago Mastercard 12 cuotas
          div.precios.col-lg-12.row
            div.col-lg-6.precio-lista $ 1700,00
            div.col-lg-6.precio-gestor(data-l='l:1_v:1500,00#l:2_v:1600#l:3_v:1700') $1500,00
        div.producto.row 
          div.titulo.col-lg-12 Remera 4
          div.imagen.col-lg-6 
            img(src='/images/remera4.jpg')
          div.descripcion.col-lg-6 descripcion perteneciente a la remera 4
          div.precios.col-lg-12.formaDePago Mastercard 12 cuotas
          div.precios.col-lg-12.row
            div.col-lg-6.precio-lista $ 1800,00
            div.col-lg-6.precio-gestor(data-l='l:1_v:1600,00#l:2_v:1700#l:3_v:1800') $1600,00
        div.producto.row 
          div.titulo.col-lg-12 Remera 5
          div.imagen.col-lg-6 
            img(src='/images/remera5.jpg')
          div.descripcion.col-lg-6 descripcion perteneciente a la remera 5
          div.precios.col-lg-12.formaDePago Mastercard 12 cuotas
          div.precios.col-lg-12.row
            div.col-lg-6.precio-lista $ 1900,00
            div.col-lg-6.precio-gestor(data-l='l:1_v:1700,00#l:2_v:1800#l:3_v:1900') $1700,00
            
            